[Unit]
Description=Daily TarkovStats PvE player nickname index sync

[Timer]
OnCalendar=*-*-* 00:20:00 Europe/Moscow
AccuracySec=1s
Persistent=true
Unit=tarkovstats-pve-index-sync.service

[Install]
WantedBy=timers.target
