[Unit]
Description=Hourly TarkovStats PvE profile sync

[Timer]
OnCalendar=*-*-* *:40:00 Europe/Moscow
AccuracySec=1s
Persistent=true
Unit=tarkovstats-pve-profile-sync.service

[Install]
WantedBy=timers.target
